Build started...
Build succeeded.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
CREATE TABLE [ContactMessages] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [Email] nvarchar(100) NOT NULL,
    [Subject] nvarchar(200) NOT NULL,
    [Message] nvarchar(max) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [IsRead] bit NOT NULL,
    CONSTRAINT [PK_ContactMessages] PRIMARY KEY ([Id])
);

CREATE TABLE [Departments] (
    [Id] int NOT NULL IDENTITY,
    [Title] nvarchar(100) NOT NULL,
    [Icon] nvarchar(50) NOT NULL,
    [Description] nvarchar(500) NOT NULL,
    [Specialists] int NOT NULL,
    [Color] nvarchar(50) NOT NULL,
    [Services] nvarchar(1000) NOT NULL,
    CONSTRAINT [PK_Departments] PRIMARY KEY ([Id])
);

CREATE TABLE [Doctors] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [Specialty] nvarchar(100) NOT NULL,
    [Rating] decimal(3,1) NOT NULL,
    [Reviews] int NOT NULL,
    [Image] nvarchar(500) NOT NULL,
    [Availability] nvarchar(50) NOT NULL,
    [Online] bit NOT NULL,
    [Description] nvarchar(1000) NOT NULL,
    [Experience] nvarchar(50) NOT NULL,
    [Languages] nvarchar(100) NOT NULL,
    CONSTRAINT [PK_Doctors] PRIMARY KEY ([Id])
);

CREATE TABLE [FAQs] (
    [Id] int NOT NULL IDENTITY,
    [Question] nvarchar(500) NOT NULL,
    [Answer] nvarchar(max) NOT NULL,
    [DisplayOrder] int NOT NULL,
    CONSTRAINT [PK_FAQs] PRIMARY KEY ([Id])
);

CREATE TABLE [Appointments] (
    [Id] int NOT NULL IDENTITY,
    [PatientName] nvarchar(100) NOT NULL,
    [Email] nvarchar(100) NOT NULL,
    [AppointmentDate] datetime2 NOT NULL,
    [TimeSlot] nvarchar(20) NOT NULL,
    [ConsultationType] nvarchar(20) NOT NULL,
    [Notes] nvarchar(1000) NOT NULL,
    [DoctorId] int NULL,
    [Status] nvarchar(50) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Appointments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Appointments_Doctors_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [Doctors] ([Id])
);

CREATE INDEX [IX_Appointments_DoctorId] ON [Appointments] ([DoctorId]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260105031016_InitialCreate', N'10.0.1');

COMMIT;
GO

BEGIN TRANSACTION;
INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260105031658_InitialCreatee', N'10.0.1');

COMMIT;
GO

BEGIN TRANSACTION;
INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260105033534_Initial', N'10.0.1');

COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [AspNetRoles] (
    [Id] nvarchar(450) NOT NULL,
    [Name] nvarchar(256) NULL,
    [NormalizedName] nvarchar(256) NULL,
    [ConcurrencyStamp] nvarchar(max) NULL,
    CONSTRAINT [PK_AspNetRoles] PRIMARY KEY ([Id])
);

CREATE TABLE [AspNetUsers] (
    [Id] nvarchar(450) NOT NULL,
    [UserName] nvarchar(256) NULL,
    [NormalizedUserName] nvarchar(256) NULL,
    [Email] nvarchar(256) NULL,
    [NormalizedEmail] nvarchar(256) NULL,
    [EmailConfirmed] bit NOT NULL,
    [PasswordHash] nvarchar(max) NULL,
    [SecurityStamp] nvarchar(max) NULL,
    [ConcurrencyStamp] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NULL,
    [PhoneNumberConfirmed] bit NOT NULL,
    [TwoFactorEnabled] bit NOT NULL,
    [LockoutEnd] datetimeoffset NULL,
    [LockoutEnabled] bit NOT NULL,
    [AccessFailedCount] int NOT NULL,
    CONSTRAINT [PK_AspNetUsers] PRIMARY KEY ([Id])
);

CREATE TABLE [AspNetRoleClaims] (
    [Id] int NOT NULL IDENTITY,
    [RoleId] nvarchar(450) NOT NULL,
    [ClaimType] nvarchar(max) NULL,
    [ClaimValue] nvarchar(max) NULL,
    CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [AspNetRoles] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [AspNetUserClaims] (
    [Id] int NOT NULL IDENTITY,
    [UserId] nvarchar(450) NOT NULL,
    [ClaimType] nvarchar(max) NULL,
    [ClaimValue] nvarchar(max) NULL,
    CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [AspNetUserLogins] (
    [LoginProvider] nvarchar(450) NOT NULL,
    [ProviderKey] nvarchar(450) NOT NULL,
    [ProviderDisplayName] nvarchar(max) NULL,
    [UserId] nvarchar(450) NOT NULL,
    CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY ([LoginProvider], [ProviderKey]),
    CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [AspNetUserRoles] (
    [UserId] nvarchar(450) NOT NULL,
    [RoleId] nvarchar(450) NOT NULL,
    CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY ([UserId], [RoleId]),
    CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [AspNetRoles] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [AspNetUserTokens] (
    [UserId] nvarchar(450) NOT NULL,
    [LoginProvider] nvarchar(450) NOT NULL,
    [Name] nvarchar(450) NOT NULL,
    [Value] nvarchar(max) NULL,
    CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY ([UserId], [LoginProvider], [Name]),
    CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_AspNetRoleClaims_RoleId] ON [AspNetRoleClaims] ([RoleId]);

CREATE UNIQUE INDEX [RoleNameIndex] ON [AspNetRoles] ([NormalizedName]) WHERE [NormalizedName] IS NOT NULL;

CREATE INDEX [IX_AspNetUserClaims_UserId] ON [AspNetUserClaims] ([UserId]);

CREATE INDEX [IX_AspNetUserLogins_UserId] ON [AspNetUserLogins] ([UserId]);

CREATE INDEX [IX_AspNetUserRoles_RoleId] ON [AspNetUserRoles] ([RoleId]);

CREATE INDEX [EmailIndex] ON [AspNetUsers] ([NormalizedEmail]);

CREATE UNIQUE INDEX [UserNameIndex] ON [AspNetUsers] ([NormalizedUserName]) WHERE [NormalizedUserName] IS NOT NULL;


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [AspNetUsers] ADD [FirstName] nvarchar(max) NOT NULL DEFAULT N'';

ALTER TABLE [AspNetUsers] ADD [LastName] nvarchar(max) NOT NULL DEFAULT N'';


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [HealthRecords] (
    [Id] int NOT NULL IDENTITY,
    [UserId] nvarchar(max) NOT NULL,
    [Name] nvarchar(200) NOT NULL,
    [Type] nvarchar(50) NOT NULL,
    [Category] nvarchar(50) NOT NULL,
    [Date] datetime2 NOT NULL,
    [Provider] nvarchar(100) NOT NULL,
    [FileSize] nvarchar(20) NOT NULL,
    [FileType] nvarchar(20) NOT NULL,
    [FilePath] nvarchar(500) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_HealthRecords] PRIMARY KEY ([Id])
);


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [ClinicAddress] nvarchar(200) NULL;

ALTER TABLE [Doctors] ADD [ClinicMapUrl] nvarchar(1000) NULL;

ALTER TABLE [Doctors] ADD [HospitalAffiliations] nvarchar(500) NULL;


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [AspNetUsers] ADD [AdminRemarks] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [ApprovalDate] datetime2 NULL;

ALTER TABLE [AspNetUsers] ADD [ApprovalStatus] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [BankAccountNumber] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [CNIC] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [CNICBackUrl] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [CNICFrontUrl] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [City] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [ConsultationFee] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [AspNetUsers] ADD [DegreeCertificateUrl] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Experience] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [FatherHusbandName] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Gender] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [IsAvailable] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [AspNetUsers] ADD [Name] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [PMDCCertificateUrl] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [PMDCRegistrationNumber] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [PMDCValidityDate] datetime2 NULL;

ALTER TABLE [AspNetUsers] ADD [ProfilePictureUrl] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Province] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Qualification] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [ResidentialAddress] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Specialist] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [TermsConsent] bit NOT NULL DEFAULT CAST(0 AS bit);

ALTER TABLE [AspNetUsers] ADD [VerificationDetails] nvarchar(max) NULL;

ALTER TABLE [AspNetUsers] ADD [Workplace] nvarchar(max) NULL;

CREATE TABLE [Admin_Patients] (
    [Id] nvarchar(50) NOT NULL,
    [Name] nvarchar(200) NOT NULL,
    [Diagnostic] nvarchar(500) NOT NULL,
    [Status] nvarchar(max) NOT NULL,
    [Node] nvarchar(100) NOT NULL,
    [DateRegistered] datetime2 NOT NULL,
    [DateOfBirth] datetime2 NOT NULL,
    [Gender] nvarchar(max) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [Address] nvarchar(500) NOT NULL,
    CONSTRAINT [PK_Admin_Patients] PRIMARY KEY ([Id])
);

CREATE TABLE [Admin_Physicians] (
    [Id] nvarchar(50) NOT NULL,
    [Name] nvarchar(200) NOT NULL,
    [Specialty] nvarchar(100) NOT NULL,
    [Experience] int NOT NULL,
    [Email] nvarchar(200) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [Office] nvarchar(200) NOT NULL,
    [Bio] nvarchar(1000) NOT NULL,
    [ProfileImage] nvarchar(max) NULL,
    CONSTRAINT [PK_Admin_Physicians] PRIMARY KEY ([Id])
);

CREATE TABLE [Admin_Profiles] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(200) NOT NULL,
    [Specialty] nvarchar(100) NOT NULL,
    [Email] nvarchar(200) NOT NULL,
    [Phone] nvarchar(20) NOT NULL,
    [Office] nvarchar(200) NOT NULL,
    [Bio] nvarchar(1000) NOT NULL,
    [Password] nvarchar(100) NOT NULL,
    [ProfileImage] nvarchar(max) NULL,
    CONSTRAINT [PK_Admin_Profiles] PRIMARY KEY ([Id])
);

CREATE TABLE [Doc_Appointments] (
    [Id] int NOT NULL IDENTITY,
    [DoctorId] nvarchar(450) NOT NULL,
    [PatientId] nvarchar(450) NOT NULL,
    [ScheduledTime] datetime2 NOT NULL,
    [DurationMinutes] int NOT NULL,
    [ConsultationType] nvarchar(max) NULL,
    [Status] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Doc_Appointments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Doc_Appointments_AspNetUsers_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Doc_Appointments_AspNetUsers_PatientId] FOREIGN KEY ([PatientId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Doc_DoctorAvailabilitySlots] (
    [Id] int NOT NULL IDENTITY,
    [DoctorId] nvarchar(450) NOT NULL,
    [DayOfWeek] nvarchar(max) NOT NULL,
    [StartTime] time NOT NULL,
    [EndTime] time NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_Doc_DoctorAvailabilitySlots] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Doc_DoctorAvailabilitySlots_AspNetUsers_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Doc_Messages] (
    [Id] int NOT NULL IDENTITY,
    [SenderId] nvarchar(450) NOT NULL,
    [ReceiverId] nvarchar(450) NOT NULL,
    [Content] nvarchar(max) NOT NULL,
    [Timestamp] datetime2 NOT NULL,
    [AttachmentPath] nvarchar(max) NULL,
    [AttachmentType] nvarchar(max) NULL,
    CONSTRAINT [PK_Doc_Messages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Doc_Messages_AspNetUsers_ReceiverId] FOREIGN KEY ([ReceiverId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Doc_Messages_AspNetUsers_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Doc_PatientRecords] (
    [Id] int NOT NULL IDENTITY,
    [PatientId] nvarchar(450) NOT NULL,
    [DoctorId] nvarchar(450) NOT NULL,
    [Diagnosis] nvarchar(max) NOT NULL,
    [Prescription] nvarchar(max) NULL,
    [Notes] nvarchar(max) NULL,
    [Vitals] nvarchar(max) NULL,
    [Allergies] nvarchar(max) NULL,
    [LabReportPath] nvarchar(max) NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Doc_PatientRecords] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Doc_PatientRecords_AspNetUsers_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Doc_PatientRecords_AspNetUsers_PatientId] FOREIGN KEY ([PatientId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE NO ACTION
);

CREATE TABLE [Admin_Billings] (
    [Id] int NOT NULL IDENTITY,
    [PatientId] nvarchar(50) NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Description] nvarchar(1000) NULL,
    [Status] nvarchar(max) NOT NULL,
    [DateGenerated] datetime2 NOT NULL,
    [InsuranceProvider] nvarchar(200) NULL,
    [InsurancePolicyNumber] nvarchar(100) NULL,
    CONSTRAINT [PK_Admin_Billings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Admin_Billings_Admin_Patients_PatientId] FOREIGN KEY ([PatientId]) REFERENCES [Admin_Patients] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Admin_Appointments] (
    [Id] int NOT NULL IDENTITY,
    [PatientId] nvarchar(50) NOT NULL,
    [PhysicianId] nvarchar(50) NOT NULL,
    [AppointmentTime] datetime2 NOT NULL,
    [ConsultationType] nvarchar(max) NOT NULL,
    [Reason] nvarchar(500) NULL,
    [Status] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Admin_Appointments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Admin_Appointments_Admin_Patients_PatientId] FOREIGN KEY ([PatientId]) REFERENCES [Admin_Patients] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Admin_Appointments_Admin_Physicians_PhysicianId] FOREIGN KEY ([PhysicianId]) REFERENCES [Admin_Physicians] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [Admin_MedicalRecords] (
    [Id] int NOT NULL IDENTITY,
    [PatientId] nvarchar(50) NOT NULL,
    [PhysicianId] nvarchar(50) NOT NULL,
    [RecordType] nvarchar(max) NOT NULL,
    [Title] nvarchar(max) NOT NULL,
    [Content] nvarchar(max) NULL,
    [Attachment] nvarchar(max) NULL,
    [DateCreated] datetime2 NOT NULL,
    [IsApproved] bit NOT NULL,
    CONSTRAINT [PK_Admin_MedicalRecords] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Admin_MedicalRecords_Admin_Patients_PatientId] FOREIGN KEY ([PatientId]) REFERENCES [Admin_Patients] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Admin_MedicalRecords_Admin_Physicians_PhysicianId] FOREIGN KEY ([PhysicianId]) REFERENCES [Admin_Physicians] ([Id]) ON DELETE CASCADE
);

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Bio', N'Email', N'Name', N'Office', N'Password', N'Phone', N'ProfileImage', N'Specialty') AND [object_id] = OBJECT_ID(N'[Admin_Profiles]'))
    SET IDENTITY_INSERT [Admin_Profiles] ON;
INSERT INTO [Admin_Profiles] ([Id], [Bio], [Email], [Name], [Office], [Password], [Phone], [ProfileImage], [Specialty])
VALUES (1, N'Leading medical diagnostics with 20 years of experience in system administration.', N'a.rivers@medical.io', N'Dr. Alex Rivers', N'Executive Suite 401', N'', N'+1 (555) 000-1111', NULL, N'Director');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Bio', N'Email', N'Name', N'Office', N'Password', N'Phone', N'ProfileImage', N'Specialty') AND [object_id] = OBJECT_ID(N'[Admin_Profiles]'))
    SET IDENTITY_INSERT [Admin_Profiles] OFF;

CREATE INDEX [IX_Admin_Appointments_PatientId] ON [Admin_Appointments] ([PatientId]);

CREATE INDEX [IX_Admin_Appointments_PhysicianId] ON [Admin_Appointments] ([PhysicianId]);

CREATE INDEX [IX_Admin_Billings_PatientId] ON [Admin_Billings] ([PatientId]);

CREATE INDEX [IX_Admin_MedicalRecords_PatientId] ON [Admin_MedicalRecords] ([PatientId]);

CREATE INDEX [IX_Admin_MedicalRecords_PhysicianId] ON [Admin_MedicalRecords] ([PhysicianId]);

CREATE INDEX [IX_Doc_Appointments_DoctorId] ON [Doc_Appointments] ([DoctorId]);

CREATE INDEX [IX_Doc_Appointments_PatientId] ON [Doc_Appointments] ([PatientId]);

CREATE INDEX [IX_Doc_DoctorAvailabilitySlots_DoctorId] ON [Doc_DoctorAvailabilitySlots] ([DoctorId]);

CREATE INDEX [IX_Doc_Messages_ReceiverId] ON [Doc_Messages] ([ReceiverId]);

CREATE INDEX [IX_Doc_Messages_SenderId] ON [Doc_Messages] ([SenderId]);

CREATE INDEX [IX_Doc_PatientRecords_DoctorId] ON [Doc_PatientRecords] ([DoctorId]);

CREATE INDEX [IX_Doc_PatientRecords_PatientId] ON [Doc_PatientRecords] ([PatientId]);


COMMIT;
GO

BEGIN TRANSACTION;
IF COL_LENGTH('Doctors', 'Expertise') IS NULL ALTER TABLE Doctors ADD Expertise nvarchar(max) NULL

IF COL_LENGTH('Doctors', 'Qualification') IS NULL ALTER TABLE Doctors ADD Qualification nvarchar(100) NULL

IF COL_LENGTH('Doctors', 'Experience') IS NULL ALTER TABLE Doctors ADD Experience nvarchar(50) NULL

IF COL_LENGTH('Doctors', 'Languages') IS NULL ALTER TABLE Doctors ADD Languages nvarchar(100) NULL

IF COL_LENGTH('Doctors', 'HospitalAffiliations') IS NULL ALTER TABLE Doctors ADD HospitalAffiliations nvarchar(500) NULL

IF COL_LENGTH('Doctors', 'ClinicAddress') IS NULL ALTER TABLE Doctors ADD ClinicAddress nvarchar(200) NULL

IF COL_LENGTH('Doctors', 'ClinicMapUrl') IS NULL ALTER TABLE Doctors ADD ClinicMapUrl nvarchar(1000) NULL

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260114224852_SyncDoctorColumns', N'10.0.1');

COMMIT;
GO

BEGIN TRANSACTION;

                IF OBJECT_ID(N'[dbo].[ChatMessages]', N'U') IS NULL
                CREATE TABLE [ChatMessages] (
                    [Id] int NOT NULL IDENTITY,
                    [SenderId] nvarchar(450) NOT NULL, 
                    [ReceiverId] nvarchar(max) NOT NULL,
                    [Content] nvarchar(max) NULL,
                    [Timestamp] datetime2 NOT NULL,
                    [IsRead] bit NOT NULL,
                    [IsDeleted] bit NOT NULL,
                    [DeletedBy] nvarchar(max) NULL,
                    [MessageType] nvarchar(max) NULL,
                    [AttachmentUrl] nvarchar(max) NULL,
                    [AttachmentType] nvarchar(max) NULL,
                    [AttachmentName] nvarchar(max) NULL,
                    [DoctorId] int NULL,
                    CONSTRAINT [PK_ChatMessages] PRIMARY KEY ([Id]),
                    CONSTRAINT [FK_ChatMessages_Doctors_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [Doctors] ([Id])
                )


                IF OBJECT_ID(N'[dbo].[AIAnalyses]', N'U') IS NULL
                CREATE TABLE [AIAnalyses] (
                    [Id] int NOT NULL IDENTITY,
                    [UserId] nvarchar(max) NULL,
                    [FileName] nvarchar(max) NOT NULL,
                    [FilePath] nvarchar(max) NOT NULL,
                    [FileType] nvarchar(max) NOT NULL,
                    [Status] nvarchar(max) NOT NULL,
                    [AnalysisResult] nvarchar(max) NOT NULL,
                    [CreatedAt] datetime2 NOT NULL,
                    CONSTRAINT [PK_AIAnalyses] PRIMARY KEY ([Id])
                )


                IF OBJECT_ID(N'[dbo].[UserSessions]', N'U') IS NULL
                CREATE TABLE [UserSessions] (
                    [Id] nvarchar(450) NOT NULL,
                    [UserId] nvarchar(max) NOT NULL,
                    [UserAgent] nvarchar(max) NULL,
                    [IPAddress] nvarchar(max) NULL,
                    [DeviceName] nvarchar(max) NULL,
                    [Location] nvarchar(max) NULL,
                    [LoginTime] datetime2 NOT NULL,
                    [LastSeen] datetime2 NOT NULL,
                    [IsRevoked] bit NOT NULL,
                    [SessionIdentifier] nvarchar(max) NULL,
                    CONSTRAINT [PK_UserSessions] PRIMARY KEY ([Id])
                )


                IF OBJECT_ID(N'[dbo].[HealthRecords]', N'U') IS NULL
                CREATE TABLE [HealthRecords] (
                    [Id] int NOT NULL IDENTITY,
                    [UserId] nvarchar(max) NOT NULL,
                    [Name] nvarchar(200) NOT NULL,
                    [Type] nvarchar(50) NOT NULL,
                    [Category] nvarchar(50) NOT NULL,
                    [Date] datetime2 NOT NULL,
                    [Provider] nvarchar(100) NOT NULL,
                    [FileSize] nvarchar(20) NULL,
                    [FileType] nvarchar(20) NULL,
                    [FilePath] nvarchar(500) NULL,
                    [CreatedAt] datetime2 NOT NULL,
                    CONSTRAINT [PK_HealthRecords] PRIMARY KEY ([Id])
                )


                IF OBJECT_ID(N'[dbo].[Medications]', N'U') IS NULL
                CREATE TABLE [Medications] (
                    [Id] int NOT NULL IDENTITY,
                    [Name] nvarchar(max) NOT NULL,
                    [Dosage] nvarchar(max) NULL,
                    [Schedule] nvarchar(max) NULL,
                    [Taken] bit NOT NULL,
                    [UserId] nvarchar(max) NOT NULL,
                    CONSTRAINT [PK_Medications] PRIMARY KEY ([Id])
                )


                IF OBJECT_ID(N'[dbo].[Notifications]', N'U') IS NULL
                CREATE TABLE [Notifications] (
                    [Id] int NOT NULL IDENTITY,
                    [Title] nvarchar(max) NOT NULL,
                    [Content] nvarchar(max) NOT NULL,
                    [Icon] nvarchar(max) NULL,
                    [Color] nvarchar(max) NULL,
                    [CreatedAt] datetime2 NOT NULL,
                    [IsRead] bit NOT NULL,
                    [UserId] nvarchar(max) NULL,
                    CONSTRAINT [PK_Notifications] PRIMARY KEY ([Id])
                )


COMMIT;
GO

BEGIN TRANSACTION;
DECLARE @var nvarchar(max);
SELECT @var = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Doctors]') AND [c].[name] = N'Image');
IF @var IS NOT NULL EXEC(N'ALTER TABLE [Doctors] DROP CONSTRAINT ' + @var + ';');
ALTER TABLE [Doctors] ALTER COLUMN [Image] nvarchar(max) NOT NULL;


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [UserId] nvarchar(max) NULL;


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [BufferTime] int NOT NULL DEFAULT 0;

ALTER TABLE [Doctors] ADD [SlotDuration] int NOT NULL DEFAULT 0;

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[Appointments]') AND name = 'UserId') ALTER TABLE [Appointments] ADD [UserId] nvarchar(max) NULL;

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[Appointments]') AND name = 'StripeSessionId') ALTER TABLE [Appointments] ADD [StripeSessionId] nvarchar(max) NULL;

DECLARE @var1 nvarchar(max);
SELECT @var1 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Appointments]') AND [c].[name] = N'UserId');
IF @var1 IS NOT NULL EXEC(N'ALTER TABLE [Appointments] DROP CONSTRAINT ' + @var1 + ';');
UPDATE [Appointments] SET [UserId] = N'' WHERE [UserId] IS NULL;
ALTER TABLE [Appointments] ALTER COLUMN [UserId] nvarchar(450) NOT NULL;
ALTER TABLE [Appointments] ADD DEFAULT N'' FOR [UserId];

CREATE INDEX [IX_Appointments_UserId] ON [Appointments] ([UserId]);

ALTER TABLE [Appointments] ADD CONSTRAINT [FK_Appointments_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE;


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [AspNetUsers] ADD [WalletBalance] decimal(18,2) NOT NULL DEFAULT 0.0;

CREATE TABLE [WalletTransactions] (
    [Id] int NOT NULL IDENTITY,
    [DoctorId] nvarchar(450) NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [TransactionType] nvarchar(20) NOT NULL,
    [Description] nvarchar(500) NULL,
    [TransactionDate] datetime2 NOT NULL,
    [Status] nvarchar(20) NOT NULL,
    [AppointmentId] int NULL,
    CONSTRAINT [PK_WalletTransactions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_WalletTransactions_Appointments_AppointmentId] FOREIGN KEY ([AppointmentId]) REFERENCES [Appointments] ([Id]),
    CONSTRAINT [FK_WalletTransactions_AspNetUsers_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_WalletTransactions_AppointmentId] ON [WalletTransactions] ([AppointmentId]);

CREATE INDEX [IX_WalletTransactions_DoctorId] ON [WalletTransactions] ([DoctorId]);


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [WalletTransactions] ADD [NetAmount] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [WalletTransactions] ADD [PlatformFee] decimal(18,2) NOT NULL DEFAULT 0.0;

ALTER TABLE [WalletTransactions] ADD [ProcessedBy] nvarchar(450) NULL;

ALTER TABLE [WalletTransactions] ADD [ProcessedDate] datetime2 NULL;


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [AspNetUsers] ADD [TotalWithdrawn] decimal(18,2) NOT NULL DEFAULT 0.0;


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [ClinicName] nvarchar(200) NULL;


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [AuditLogs] (
    [Id] int NOT NULL IDENTITY,
    [UserId] nvarchar(450) NOT NULL,
    [Action] nvarchar(max) NOT NULL,
    [Details] nvarchar(max) NOT NULL,
    [Status] nvarchar(max) NOT NULL,
    [IPAddress] nvarchar(max) NOT NULL,
    [Timestamp] datetime2 NOT NULL,
    CONSTRAINT [PK_AuditLogs] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_AuditLogs_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_AuditLogs_UserId] ON [AuditLogs] ([UserId]);


COMMIT;
GO

BEGIN TRANSACTION;
CREATE TABLE [Reviews] (
    [Id] int NOT NULL IDENTITY,
    [DoctorId] int NOT NULL,
    [PatientId] nvarchar(max) NOT NULL,
    [PatientName] nvarchar(100) NOT NULL,
    [Rating] int NOT NULL,
    [Comment] nvarchar(500) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Reviews] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Reviews_Doctors_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [Doctors] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_Reviews_DoctorId] ON [Reviews] ([DoctorId]);


COMMIT;
GO

BEGIN TRANSACTION;
DECLARE @var2 nvarchar(max);
SELECT @var2 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[UserSessions]') AND [c].[name] = N'UserId');
IF @var2 IS NOT NULL EXEC(N'ALTER TABLE [UserSessions] DROP CONSTRAINT ' + @var2 + ';');
ALTER TABLE [UserSessions] ALTER COLUMN [UserId] nvarchar(450) NOT NULL;

DECLARE @var3 nvarchar(max);
SELECT @var3 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Notifications]') AND [c].[name] = N'UserId');
IF @var3 IS NOT NULL EXEC(N'ALTER TABLE [Notifications] DROP CONSTRAINT ' + @var3 + ';');
ALTER TABLE [Notifications] ALTER COLUMN [UserId] nvarchar(450) NOT NULL;

DECLARE @var4 nvarchar(max);
SELECT @var4 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'SenderId');
IF @var4 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var4 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [SenderId] nvarchar(450) NOT NULL;

DECLARE @var5 nvarchar(max);
SELECT @var5 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'ReceiverId');
IF @var5 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var5 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [ReceiverId] nvarchar(450) NOT NULL;

CREATE INDEX [IX_UserSessions_UserId] ON [UserSessions] ([UserId]);

CREATE INDEX [IX_Notifications_CreatedAt] ON [Notifications] ([CreatedAt]);

CREATE INDEX [IX_Notifications_UserId] ON [Notifications] ([UserId]);

CREATE INDEX [IX_ChatMessages_ReceiverId] ON [ChatMessages] ([ReceiverId]);

CREATE INDEX [IX_ChatMessages_SenderId] ON [ChatMessages] ([SenderId]);


COMMIT;
GO

BEGIN TRANSACTION;
DROP INDEX [IX_UserSessions_UserId] ON [UserSessions];

DROP INDEX [IX_Notifications_CreatedAt] ON [Notifications];

DROP INDEX [IX_Notifications_UserId] ON [Notifications];

DROP INDEX [IX_ChatMessages_ReceiverId] ON [ChatMessages];

DROP INDEX [IX_ChatMessages_SenderId] ON [ChatMessages];

DECLARE @var6 nvarchar(max);
SELECT @var6 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[UserSessions]') AND [c].[name] = N'UserId');
IF @var6 IS NOT NULL EXEC(N'ALTER TABLE [UserSessions] DROP CONSTRAINT ' + @var6 + ';');
ALTER TABLE [UserSessions] ALTER COLUMN [UserId] nvarchar(max) NOT NULL;

DECLARE @var7 nvarchar(max);
SELECT @var7 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Notifications]') AND [c].[name] = N'UserId');
IF @var7 IS NOT NULL EXEC(N'ALTER TABLE [Notifications] DROP CONSTRAINT ' + @var7 + ';');
ALTER TABLE [Notifications] ALTER COLUMN [UserId] nvarchar(max) NOT NULL;

DECLARE @var8 nvarchar(max);
SELECT @var8 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'SenderId');
IF @var8 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var8 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [SenderId] nvarchar(max) NOT NULL;

DECLARE @var9 nvarchar(max);
SELECT @var9 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'ReceiverId');
IF @var9 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var9 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [ReceiverId] nvarchar(max) NOT NULL;

CREATE TABLE [Hospitals] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [City] nvarchar(100) NOT NULL,
    [Country] nvarchar(100) NOT NULL,
    [Specialties] nvarchar(max) NOT NULL,
    [IsVerified] bit NOT NULL,
    [ImageUrl] nvarchar(max) NOT NULL,
    [Description] nvarchar(1000) NOT NULL,
    CONSTRAINT [PK_Hospitals] PRIMARY KEY ([Id])
);

CREATE TABLE [MedicalTourismPackages] (
    [Id] int NOT NULL IDENTITY,
    [RequestId] int NOT NULL,
    [HospitalId] int NULL,
    [DoctorId] int NULL,
    [TreatmentDuration] nvarchar(max) NOT NULL,
    [RecoveryDays] nvarchar(max) NOT NULL,
    [TourPlanDetails] nvarchar(max) NOT NULL,
    [HotelDetails] nvarchar(max) NOT NULL,
    [AirportPickup] nvarchar(max) NOT NULL,
    [TotalPrice] decimal(18,2) NOT NULL,
    [IsAcceptedByUser] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_MedicalTourismPackages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MedicalTourismPackages_Doctors_DoctorId] FOREIGN KEY ([DoctorId]) REFERENCES [Doctors] ([Id]),
    CONSTRAINT [FK_MedicalTourismPackages_Hospitals_HospitalId] FOREIGN KEY ([HospitalId]) REFERENCES [Hospitals] ([Id])
);

CREATE TABLE [MedicalTourismRequests] (
    [Id] int NOT NULL IDENTITY,
    [UserId] nvarchar(max) NOT NULL,
    [RequestType] int NOT NULL,
    [SourceCountry] nvarchar(max) NOT NULL,
    [PreferredCountry] nvarchar(max) NOT NULL,
    [PreferredCity] nvarchar(max) NOT NULL,
    [TreatmentType] nvarchar(max) NOT NULL,
    [BudgetRange] nvarchar(max) NOT NULL,
    [TravelWithFamily] bit NOT NULL,
    [InterestedTourLocations] nvarchar(max) NOT NULL,
    [PassportAvailable] bit NOT NULL,
    [MedicalReportsUrl] nvarchar(max) NOT NULL,
    [AdditionalNotes] nvarchar(max) NOT NULL,
    [Status] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    [AssignedPackageId] int NULL,
    CONSTRAINT [PK_MedicalTourismRequests] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MedicalTourismRequests_MedicalTourismPackages_AssignedPackageId] FOREIGN KEY ([AssignedPackageId]) REFERENCES [MedicalTourismPackages] ([Id])
);

CREATE INDEX [IX_MedicalTourismPackages_DoctorId] ON [MedicalTourismPackages] ([DoctorId]);

CREATE INDEX [IX_MedicalTourismPackages_HospitalId] ON [MedicalTourismPackages] ([HospitalId]);

CREATE INDEX [IX_MedicalTourismRequests_AssignedPackageId] ON [MedicalTourismRequests] ([AssignedPackageId]);


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Medicines] ADD [ImageUrl] nvarchar(max) NOT NULL DEFAULT N'/images/medicines/default.png';


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Medicines] ADD [Description] nvarchar(max) NOT NULL DEFAULT N'';


COMMIT;
GO

BEGIN TRANSACTION;
DECLARE @var10 nvarchar(max);
SELECT @var10 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[PharmacyOrders]') AND [c].[name] = N'PatientId');
IF @var10 IS NOT NULL EXEC(N'ALTER TABLE [PharmacyOrders] DROP CONSTRAINT ' + @var10 + ';');
ALTER TABLE [PharmacyOrders] ALTER COLUMN [PatientId] nvarchar(450) NOT NULL;

DECLARE @var11 nvarchar(max);
SELECT @var11 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Notifications]') AND [c].[name] = N'UserId');
IF @var11 IS NOT NULL EXEC(N'ALTER TABLE [Notifications] DROP CONSTRAINT ' + @var11 + ';');
ALTER TABLE [Notifications] ALTER COLUMN [UserId] nvarchar(450) NOT NULL;

DECLARE @var12 nvarchar(max);
SELECT @var12 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[MedicalTourismRequests]') AND [c].[name] = N'UserId');
IF @var12 IS NOT NULL EXEC(N'ALTER TABLE [MedicalTourismRequests] DROP CONSTRAINT ' + @var12 + ';');
ALTER TABLE [MedicalTourismRequests] ALTER COLUMN [UserId] nvarchar(450) NOT NULL;

DECLARE @var13 nvarchar(max);
SELECT @var13 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[Doctors]') AND [c].[name] = N'UserId');
IF @var13 IS NOT NULL EXEC(N'ALTER TABLE [Doctors] DROP CONSTRAINT ' + @var13 + ';');
ALTER TABLE [Doctors] ALTER COLUMN [UserId] nvarchar(450) NULL;

DECLARE @var14 nvarchar(max);
SELECT @var14 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'SenderId');
IF @var14 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var14 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [SenderId] nvarchar(450) NOT NULL;

DECLARE @var15 nvarchar(max);
SELECT @var15 = QUOTENAME([d].[name])
FROM [sys].[default_constraints] [d]
INNER JOIN [sys].[columns] [c] ON [d].[parent_column_id] = [c].[column_id] AND [d].[parent_object_id] = [c].[object_id]
WHERE ([d].[parent_object_id] = OBJECT_ID(N'[ChatMessages]') AND [c].[name] = N'ReceiverId');
IF @var15 IS NOT NULL EXEC(N'ALTER TABLE [ChatMessages] DROP CONSTRAINT ' + @var15 + ';');
ALTER TABLE [ChatMessages] ALTER COLUMN [ReceiverId] nvarchar(450) NOT NULL;

ALTER TABLE [AspNetUsers] ADD [LaboratoryId] int NULL;

CREATE TABLE [Cities] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Cities] PRIMARY KEY ([Id])
);

CREATE TABLE [ConsultationTranscripts] (
    [Id] int NOT NULL IDENTITY,
    [AppointmentId] int NOT NULL,
    [SpeakerId] nvarchar(max) NOT NULL,
    [SpeakerName] nvarchar(100) NOT NULL,
    [SpeakerRole] nvarchar(20) NOT NULL,
    [OriginalText] nvarchar(max) NOT NULL,
    [EnglishTranslation] nvarchar(max) NOT NULL,
    [UrduTranslation] nvarchar(max) NOT NULL,
    [DetectedLanguage] nvarchar(50) NOT NULL,
    [Timestamp] datetime2 NOT NULL,
    CONSTRAINT [PK_ConsultationTranscripts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ConsultationTranscripts_Appointments_AppointmentId] FOREIGN KEY ([AppointmentId]) REFERENCES [Appointments] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [MedicalTestCategories] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_MedicalTestCategories] PRIMARY KEY ([Id])
);

CREATE TABLE [Reminders] (
    [Id] int NOT NULL IDENTITY,
    [UserId] nvarchar(max) NOT NULL,
    [Title] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    [ReminderType] nvarchar(max) NOT NULL,
    [ScheduledTime] datetime2 NOT NULL,
    [IsRecurring] bit NOT NULL,
    [RecurrencePattern] nvarchar(max) NULL,
    [IsActive] bit NOT NULL,
    [IsCompleted] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [CompletedAt] datetime2 NULL,
    CONSTRAINT [PK_Reminders] PRIMARY KEY ([Id])
);

CREATE TABLE [Laboratories] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [LogoUrl] nvarchar(max) NULL,
    [Rating] float NOT NULL,
    [HomeCollectionAvailable] bit NOT NULL,
    [Address] nvarchar(max) NULL,
    [PhoneNumber] nvarchar(max) NULL,
    [OpenTime] nvarchar(max) NULL,
    [CloseTime] nvarchar(max) NULL,
    [CityId] int NOT NULL,
    CONSTRAINT [PK_Laboratories] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Laboratories_Cities_CityId] FOREIGN KEY ([CityId]) REFERENCES [Cities] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [LabBookings] (
    [Id] int NOT NULL IDENTITY,
    [PatientId] nvarchar(450) NOT NULL,
    [LaboratoryId] int NOT NULL,
    [PatientName] nvarchar(max) NOT NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [Address] nvarchar(max) NOT NULL,
    [PreferredDate] datetime2 NOT NULL,
    [IsHomeCollection] bit NOT NULL,
    [Status] int NOT NULL,
    [BookingDate] datetime2 NOT NULL,
    CONSTRAINT [PK_LabBookings] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_LabBookings_Laboratories_LaboratoryId] FOREIGN KEY ([LaboratoryId]) REFERENCES [Laboratories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [MedicalTests] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Price] decimal(18,2) NOT NULL,
    [ReportTime] nvarchar(max) NOT NULL,
    [SampleType] nvarchar(max) NOT NULL,
    [CategoryId] int NOT NULL,
    [LaboratoryId] int NOT NULL,
    CONSTRAINT [PK_MedicalTests] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MedicalTests_Laboratories_LaboratoryId] FOREIGN KEY ([LaboratoryId]) REFERENCES [Laboratories] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_MedicalTests_MedicalTestCategories_CategoryId] FOREIGN KEY ([CategoryId]) REFERENCES [MedicalTestCategories] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [LabTestResults] (
    [Id] int NOT NULL IDENTITY,
    [LabBookingId] int NOT NULL,
    [ReportUrl] nvarchar(max) NOT NULL,
    [UploadedDate] datetime2 NOT NULL,
    CONSTRAINT [PK_LabTestResults] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_LabTestResults_LabBookings_LabBookingId] FOREIGN KEY ([LabBookingId]) REFERENCES [LabBookings] ([Id]) ON DELETE CASCADE
);

CREATE TABLE [LabBookingItems] (
    [Id] int NOT NULL IDENTITY,
    [LabBookingId] int NOT NULL,
    [MedicalTestId] int NOT NULL,
    CONSTRAINT [PK_LabBookingItems] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_LabBookingItems_LabBookings_LabBookingId] FOREIGN KEY ([LabBookingId]) REFERENCES [LabBookings] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_LabBookingItems_MedicalTests_MedicalTestId] FOREIGN KEY ([MedicalTestId]) REFERENCES [MedicalTests] ([Id]) ON DELETE CASCADE
);

CREATE INDEX [IX_PharmacyOrders_PatientId] ON [PharmacyOrders] ([PatientId]);

CREATE INDEX [IX_Notifications_IsRead] ON [Notifications] ([IsRead]);

CREATE INDEX [IX_Notifications_UserId] ON [Notifications] ([UserId]);

CREATE INDEX [IX_MedicalTourismRequests_Status] ON [MedicalTourismRequests] ([Status]);

CREATE INDEX [IX_MedicalTourismRequests_UserId] ON [MedicalTourismRequests] ([UserId]);

CREATE INDEX [IX_Doctors_Specialty] ON [Doctors] ([Specialty]);

CREATE INDEX [IX_Doctors_UserId] ON [Doctors] ([UserId]);

CREATE INDEX [IX_ChatMessages_ReceiverId] ON [ChatMessages] ([ReceiverId]);

CREATE INDEX [IX_ChatMessages_SenderId] ON [ChatMessages] ([SenderId]);

CREATE INDEX [IX_ChatMessages_Timestamp] ON [ChatMessages] ([Timestamp]);

CREATE INDEX [IX_Appointments_AppointmentDate] ON [Appointments] ([AppointmentDate]);

CREATE INDEX [IX_ConsultationTranscripts_AppointmentId] ON [ConsultationTranscripts] ([AppointmentId]);

CREATE INDEX [IX_LabBookingItems_LabBookingId] ON [LabBookingItems] ([LabBookingId]);

CREATE INDEX [IX_LabBookingItems_MedicalTestId] ON [LabBookingItems] ([MedicalTestId]);

CREATE INDEX [IX_LabBookings_LaboratoryId] ON [LabBookings] ([LaboratoryId]);

CREATE INDEX [IX_LabBookings_PatientId] ON [LabBookings] ([PatientId]);

CREATE INDEX [IX_Laboratories_CityId] ON [Laboratories] ([CityId]);

CREATE INDEX [IX_LabTestResults_LabBookingId] ON [LabTestResults] ([LabBookingId]);

CREATE INDEX [IX_MedicalTests_CategoryId] ON [MedicalTests] ([CategoryId]);

CREATE INDEX [IX_MedicalTests_LaboratoryId] ON [MedicalTests] ([LaboratoryId]);


COMMIT;
GO

BEGIN TRANSACTION;

COMMIT;
GO

BEGIN TRANSACTION;

                IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ConsultationTranscripts]') AND type in (N'U'))
                BEGIN
                    CREATE TABLE [ConsultationTranscripts] (
                        [Id] int NOT NULL IDENTITY,
                        [AppointmentId] int NOT NULL,
                        [SpeakerId] nvarchar(max) NOT NULL,
                        [SpeakerName] nvarchar(100) NOT NULL,
                        [SpeakerRole] nvarchar(20) NOT NULL,
                        [OriginalText] nvarchar(max) NOT NULL,
                        [EnglishTranslation] nvarchar(max) NOT NULL,
                        [UrduTranslation] nvarchar(max) NOT NULL,
                        [DetectedLanguage] nvarchar(50) NOT NULL,
                        [Timestamp] datetime2 NOT NULL,
                        CONSTRAINT [PK_ConsultationTranscripts] PRIMARY KEY ([Id]),
                        CONSTRAINT [FK_ConsultationTranscripts_Appointments_AppointmentId] FOREIGN KEY ([AppointmentId]) REFERENCES [Appointments] ([Id]) ON DELETE CASCADE
                    );
                    CREATE INDEX [IX_ConsultationTranscripts_AppointmentId] ON [ConsultationTranscripts] ([AppointmentId]);
                END
            


                IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Reminders]') AND type in (N'U'))
                BEGIN
                    CREATE TABLE [Reminders] (
                        [Id] int NOT NULL IDENTITY,
                        [UserId] nvarchar(max) NOT NULL,
                        [Title] nvarchar(max) NOT NULL,
                        [Description] nvarchar(max) NOT NULL,
                        [ReminderType] nvarchar(max) NOT NULL,
                        [ScheduledTime] datetime2 NOT NULL,
                        [IsRecurring] bit NOT NULL,
                        [RecurrencePattern] nvarchar(max) NULL,
                        [IsActive] bit NOT NULL,
                        [IsCompleted] bit NOT NULL,
                        [CreatedAt] datetime2 NOT NULL,
                        [CompletedAt] datetime2 NULL,
                        CONSTRAINT [PK_Reminders] PRIMARY KEY ([Id])
                    );
                END
            


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [PmdcRegistrationNumber] nvarchar(50) NULL;

ALTER TABLE [Admin_Physicians] ADD [PmdcRegistrationNumber] nvarchar(50) NULL;


COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [Doctors] ADD [CurrentPlanId] int NULL;

ALTER TABLE [AspNetUsers] ADD [IsPro] bit NOT NULL DEFAULT CAST(0 AS bit);

CREATE TABLE [SubscriptionPlans] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(100) NOT NULL,
    [Price] decimal(18,2) NOT NULL,
    [PatientLimit] int NOT NULL,
    [Description] nvarchar(2000) NULL,
    [IsActive] bit NOT NULL,
    [Features] nvarchar(max) NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_SubscriptionPlans] PRIMARY KEY ([Id])
);

CREATE TABLE [DoctorSubscriptions] (
    [Id] int NOT NULL IDENTITY,
    [DoctorUserId] nvarchar(450) NOT NULL,
    [PlanId] int NOT NULL,
    [PurchaseDate] datetime2 NOT NULL,
    [ExpiryDate] datetime2 NULL,
    [StripeSessionId] nvarchar(max) NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_DoctorSubscriptions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_DoctorSubscriptions_AspNetUsers_DoctorUserId] FOREIGN KEY ([DoctorUserId]) REFERENCES [AspNetUsers] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_DoctorSubscriptions_SubscriptionPlans_PlanId] FOREIGN KEY ([PlanId]) REFERENCES [SubscriptionPlans] ([Id]) ON DELETE CASCADE
);

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'Features', N'IsActive', N'Name', N'PatientLimit', N'Price') AND [object_id] = OBJECT_ID(N'[SubscriptionPlans]'))
    SET IDENTITY_INSERT [SubscriptionPlans] ON;
INSERT INTO [SubscriptionPlans] ([Id], [CreatedAt], [Description], [Features], [IsActive], [Name], [PatientLimit], [Price])
VALUES (1, '2024-01-01T00:00:00.0000000Z', N'Basic plan for small practices', N'50 Patient Records|Basic Scheduling|Standard Analytics', CAST(1 AS bit), N'Starter', 50, 0.0),
(2, '2024-01-01T00:00:00.0000000Z', N'Elite tier for growing clinics', N'Unlimited Patient Records|AI Diagnostic Suggestions|Priority 24/7 Support|Advanced Analytics Suite', CAST(1 AS bit), N'MedLink PRO', -1, 49.0);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'Features', N'IsActive', N'Name', N'PatientLimit', N'Price') AND [object_id] = OBJECT_ID(N'[SubscriptionPlans]'))
    SET IDENTITY_INSERT [SubscriptionPlans] OFF;

CREATE INDEX [IX_Doctors_CurrentPlanId] ON [Doctors] ([CurrentPlanId]);

CREATE INDEX [IX_DoctorSubscriptions_DoctorUserId] ON [DoctorSubscriptions] ([DoctorUserId]);

CREATE INDEX [IX_DoctorSubscriptions_PlanId] ON [DoctorSubscriptions] ([PlanId]);

ALTER TABLE [Doctors] ADD CONSTRAINT [FK_Doctors_AspNetUsers_UserId] FOREIGN KEY ([UserId]) REFERENCES [AspNetUsers] ([Id]);

ALTER TABLE [Doctors] ADD CONSTRAINT [FK_Doctors_SubscriptionPlans_CurrentPlanId] FOREIGN KEY ([CurrentPlanId]) REFERENCES [SubscriptionPlans] ([Id]);


COMMIT;
GO


